{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription sur le site</h1>

    <div class="col-md-auto" >

        {{ form_start(form) }}

        {{ form_row(form.username ,{'label':'Nom Utilisateur:','attr':{'placeholder':'Nom utilisateur...'}}) }}<br>

        {{ form_row(form.email, {'label':'Adresse Email:','attr':{'placeholder':'Adresse email...'}})  }}<br>

        {{ form_row(form.password,{'label':'Mot de passe:','attr':{'placeholder':'Mot de passe...'}})  }}<br>

        <button type="submit" class="btn btn-success">Inscription</button>
        {{ form_end(form) }}

    </div>



{% endblock %}