{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <form method="post" action="{#{ path('Produit.validFormAddVoeux') }#}">
            <legend>Créer un produit</legend>

            <div class="form-group">
                <label>Type de formation :</label>
                <select name="formation_id" type="number" >
                    {% for typeVoeu in typeVoeux %}
                        <option value="{{ typeVoeu.id }}">
                            {{ typeVoeu.getNomFormation }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label>date limite :</label>
                <input name="date_limite"  type="date"  size="18"  value="">
            </div>

            <div class="form-group">
                <label>Ville :</label>
                <input name="ville"  type="text"  size="18" value="">
            </div>

            <div class="form-group">
                <label>Departement :</label>
                <input name="departement"  type="text"  size="18" value="">
            </div>

            <div class="form-group">
                <label>Etablissement :</label>
                <input name="etablissement"  type="text"  size="18" value="">
            </div>

            <div class="form-group">
                <label>URL :</label>
                <input name="url"  type="text"  size="18" value="">
            </div>



            <input type="hidden" name="token" value="{#{ csrf_token('form_valid') }#}">
            <button type="submit" class="btn btn-primary">créer</button>
        </form>
    </div>
{% endblock %}