{% extends "base.html.twig" %}

{% block body %}
    <h1> Récapitulatif des voeux</h1>

	<form action="{{ path('voeux.add')}} " method="post">
		<input type="submit" class="btn btn-primary m-1 p-1" value="Ajouter">
	</form>



	<div class="row">
		<div class="col-lg-12">
			<table class="table table-bordered">
				<caption>Voeux</caption>
				<thead>

				<tr><th>nom</th><th>type formation</th><th> date limite </th><th>ville</th><th>departement</th><th>Etablissement</th><th>url</th><th>avis</th><th>remarque</th>
				</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>


	</div>


{% endblock %}







