{#https://getbootstrap.com/docs/4.0/components/navbar/#}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"> <span style="color:#26ff1e;">  Menu Client </span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="DropdownClient" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Voeux
                </a>
                <div class="dropdown-menu" aria-labelledby="DropdownStage">
                    <a class="dropdown-item" href="{#{ path('panier.filtre') }#}">Ajouter un voeux</a>
                    <a class="dropdown-item" href="{#{ path('commande.showAllCommandes') }#}">afficher les voeux</a>
                </div>

            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <!-- Authentication Links -->
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <span class="navbar-text">
                    Bonjour {{ app.user.username }}
                    {% if is_granted('ROLE_ADMIN') %} (role : Admin )
                    {% elseif is_granted('ROLE_CLIENT') %} (role : Client ) {% endif %}
            </span>
                <a class="btn btn-outline-success" type="button" href="{{path('logout') }}">
                    Se déconnecter
                </a>

            {% else %}
                <a class="btn btn-outline-success" type="button" href="{{path('login') }}">
                    Se connecter
                </a>
                <a class="btn btn-outline-success" type="button" href="{#{path('changePassword') }#}">
                    mot de passe oublié
                </a>
            {% endif %}

        </ul>
    </div>
</nav>
