{% extends "base.html.twig" %}
{% block body %}
{% extends "base.html.twig" %}



{% block body %}

	<h1> Récapitulatif des voeux</h1>

	<div class="row">
		<div class="col-lg-12">
			<table class="table table-bordered">
				<caption>Voeux</caption>
				<thead>
				<tr><th>nom</th><th>type formation</th><th> date limite </th><th>ville</th><th>departement</th><th>Etablissement</th><th>url</th><th>avis</th><th>remarque</th>
				</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>


	</div>

			{% for produit in produits if produit is not empty %}

				<tr>
					<td>
						<a href="{#{ path('produit.edit', {id: produit.id}) }#}"  class="btn btn-primary m-1 p-1">modifier</a>
						<a href="{#{ path('produit.delete', {id: produit.id}) }#}"  class="btn btn-primary m-1 p-1">supprimer</a>
					</td>
				</tr>
			{% endfor %}
			<tbody>
		</table>
	</div>
{% endblock %}

